# System files
.DS_Store

# Configuration files
.env

# Database dumps
*.sql.gz
*.xml.gz
backups
tools/hitchwiki-dumps

# OAuth keys
oauth/oauth2.key
oauth/oauth2.pub

# Logs
*.log
logs

google*.html

.claude/