services:
  mediawiki:
    container_name: hitchwiki-mediawiki
    build:
      context: .
      args:
        MW_VERSION: ${MW_VERSION}
    restart: always
    ports:
      - ${MW_PORT}:80
    volumes:
      # Configuration files and images
      - ./wiki/images:/var/www/html/images
      - ./wiki/LocalSettings.php:/var/www/html/LocalSettings.php
      # Logging
      - ./logs:/var/log
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 5s
      timeout: 5s
      retries: 30
      start_period: 5s

volumes:
  images:

